.container {
  background-color: rgb(234, 240, 238);
  padding: 5%;
  width: 600px;
  height: 400px;
  margin: 10% auto;
  position: relative;
  border: 1px solid #000;
}

span {
  float: left;
  width: 25%;
  margin: 0px;
  padding: 0px;
}

.field-container {
  width: 100%;
  padding: 5% 0 5% 0;
}

.field-input {
  float: right;
  width: 75%;
}

.field::after {
  display: block;
  content: "";
  clear: both;
}

.option-wrapper {
  width: 100%;
}

.user-name {
  width: 93%;
}

#years {
  width: 33%;
  margin: 0 4% 0 0;
}

#months {
  width: 33%;
  margin: 0 4% 0 0;
}

#days {
  width: 20%;
}

.calculate-age {
  height: 55px;
  margin: 10% 35% auto;
}

.error,
.result {
  text-align: center;
  padding-top: 10%;
}
